.GadgetBody 
{
	margin: 0px;
	padding: 0px;   
	background-color: white;   
}

.GadgetMatchReportHeader
{
	font-family:	"Comic Sans MS", "Arial Black", "Arial", "Helvetica", "helv", "sans-serif";
	font-size:		large;
	color:			darkblue;
}

.GadgetFixtureAltLine
{
	background-color:	lightblue;
}

.GadgetContentHeading 
{ 
	font-family: 	"Comic Sans MS", "Arial Black", "Arial", "Helvetica", "helv", "sans-serif";
	font-size: 		x-large;
	color: 			DarkBlue;
}

.GadgetBatsHeader
{
	background:		darkblue;
	color:			yellow;
}

.ScorecardSm
{
	font-family:	"Comic Sans MS", "Arial Black", "Arial", "Helvetica", "helv", "sans-serif";
	color:			Crimson;
}

.TRCCWin
{
	font-family:	"Comic Sans MS", "Arial", "Helvetica", "helv", "sans-serif";
	font-style:		italic;
	color:			Crimson;
}
