.GadgetSmallText
{
	font-size:			13px;
}

.GadgetBody 
{
	margin: 			10px;
	padding: 			0px;   
	background-color: 	white;   
}

.GadgetMatchReportHeader
{
	font-family:	"Comic Sans MS", "Arial Black", "Arial", "Helvetica", "helv", "sans-serif";
	font-size:		large;
	color:			darkblue;
}

.GadgetFixtureAltLine
{
	background-color:	lightblue;
}

.GadgetContentHeading 
{ 
	font-family: 	"Comic Sans MS", "Arial Black", "Arial", "Helvetica", "helv", "sans-serif";
	font-size: 		x-large;
	color: 			DarkBlue;
}

.GadgetBatsHeader
{
	background:		darkblue;
	color:			yellow;
}

.GadgetTableMouseOver
{
	color:			crimson;
	background-color:	yellow;
}

.Scorecard
{
	font-family:	"Comic Sans MS", "Arial Black", "Arial", "Helvetica", "helv", "sans-serif";
	font-size:		large;
	color:			Crimson;
}

.ScorecardSm
{
	font-family:	"Comic Sans MS", "Arial Black", "Arial", "Helvetica", "helv", "sans-serif";
	color:			Crimson;
}

.TRCCWin
{
	font-family:	"Comic Sans MS", "Arial", "Helvetica", "helv", "sans-serif";
	font-style:		italic;
	color:			Crimson;
}

.loading
{
	background-color:	#c44;
	color:				#fff;
	padding:			2px;
	position:			absolute;
	top:				0;
	right:				2px;
	z-index:			25000001;
	white-space:		nowrap;
}
